@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@800&display=swap');



h1{
  font-family: Bahnschrift;
  margin: auto;
  text-align: center;
  font-size: 8em;
}

.tagline{
  font: 1.2em;
  text-align: center;
  margin: auto;
  padding-top: 30px;
  font-family: 'Nunito', sans-serif;
  letter-spacing: 1em;
}

.w3-animate-right{
  position:relative;
  animation:animateright 0.4s;
}
@keyframes animateright{
  from{right:-300px;opacity:0} to{right:0;opacity:1}}

.w3-animate-opacity{
  animation:opac 0.8s
}
@keyframes opac{from{opacity:0} to{opacity:1}}

.blog{
  font-family: 'Playfair Display', 'DM Serif Display', 'Abril Fatface', cursive;
}

#x{
  font-family: 'Jura',cursive;
  font-weight: 100;
  color: #808B96;
}

.h1one , .h1two{
  font-family: Trajan Pro, Cinzel;
}

.h1one{
  color: #E74C3C;
}

.h1two{
  color: #2471A3;
}

@media (max-width:991px) {
  h1{
    font-size: 6.5em;
  }

  .tagline{
    letter-spacing: 0.6em;
  }

}
